@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f2d7;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switcher {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 50px;

    user-select: none;
}

.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 40px;
    border: 1px solid #c7c7c7;
    background: #ECECEC;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}
.slide .slide--on,
.slide .slide--off{
    color: #393939;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    transition-delay: .1s;
}
.slide .slide--on {
    left: 20px;
    opacity: 0;
}
.slide .slide--off {
    right: 20px;
    opacity: 0.3;
}

.slide:before {
    position: absolute;
    content: "";
    width: 44px;
    height: 44px;
    border-radius: 40px;
    background: #FFF;
    left: 1px;
    bottom: 2px;
    transition: .4s;
    z-index: 500;
}

.switcher input[type="checkbox"]{
    opacity: 0;
    width: 0;
    height: 0;
}
.switcher input[type="checkbox"]:checked + .slide{
    background: #4ddca0;
}
.switcher input[type="checkbox"]:checked + .slide:before {
    transform: translateX(62px);
}
.switcher input[type="checkbox"]:checked + .slide .slide--off {
    opacity: 0;
}

.switcher input[type="checkbox"]:checked + .slide .slide--on {
    opacity: 1;
}
